body {
  font-family: 'Lobster', cursive;
}


.note {
  background-color: rgb(242, 242, 161);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  min-width: 250px;
  min-height: 250px;
  text-align: center;





}



.new {
  background-color: pink;
  min-width: 250px;
  height: 250px;
  border-radius: 10px;





}

textarea {
  background-color: pink;
  outline: none;
  border: none;
  resize: none;
  text-align: center;



}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-icon {
  cursor: pointer;
}

#delete-icon:hover {
  color: red;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;



}


.dark-mode {
  background-color: black;
}



.dark-mode h1 {
  color: white;
}


.note-list {
  padding-bottom: 40px;
}


.search-note {
  display: flex;
  align-items: center;
  background-color: grey;
  border-radius: 15px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.search-note input {

  border: none;
  background-color: grey;
  margin-left: 5px;
  text-align: center;
  width: 100%;
  outline: none;
  border: none !important;


}

.search-note input:focus {
  background-color: grey;
  outline: none;

}